@import '../../styles/vars.scss';

.wrap {
  padding: 1rem 0;

  @media (min-width: $break-md) {
    padding: 3rem 0;
  }
}

.logo {
  font-size: 1rem;
  color: $color-primary;
  text-decoration: none;
}
