@import '../../styles/vars.scss';

.wrap {
  margin: 1rem 0;

  @media (min-width: $break-md) {
    margin: 3rem 0;
  }
}

.grid {
  display: flex;
  margin-left: -2rem; /* gutter size offset */
  width: auto;
}
.column {
  padding-left: 2rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 2rem;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 10px 1rem;
  grid-auto-rows: 0;

  @media (min-width: 768px) {
    grid-gap: 10px 2rem;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}
