@import '../../styles/vars.scss';

.wrap {
  margin: 3rem 0;
}

.grid {
  display: flex;
  margin-left: -2rem; /* gutter size offset */
  width: auto;
}
.column {
  padding-left: 2rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 2rem;
}

.masonry {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-gap: 5px 2rem;
    grid-auto-rows: 0;

    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}
