@import '../../styles/vars.scss';

.wrap {
  margin: 1rem 0;

  @media (min-width: $break-md) {
    margin: 3rem 0;
  }
}

// masonry grid from https://tobiasahlin.com/blog/masonry-with-css/
.masonry {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  height: 1000vw;

  /* Force new columns */
  &::before,
  &::after {
    content: '';
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
}

.item {
  width: calc(50% - 1rem);

  /* Re-order items into 2 rows */
  &:nth-child(2n + 1) {
    order: 1;
  }
  &:nth-child(2n + 2) {
    order: 2;
  }

  @media (min-width: 768px) {
    width: calc(33.33334% - 1rem);

    /* Re-order items into 3 rows */
    &:nth-child(3n + 1) {
      order: 1;
    }
    &:nth-child(3n + 2) {
      order: 2;
    }
    &:nth-child(3n) {
      order: 3;
    }
  }
}
