@import '../../styles/vars.scss';

.wrap {
  display: none;
  margin: 20mm 20mm;

  @media screen {
    display: block;
  }
}

.section {
  margin: 40px 0;
}

.dd {
  span {
    margin-left: 20px;
  }
}
