.wrapper {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11px);
  --cell-max-width: calc(
    (var(--sqs-site-max-width, 1500px) - (11px * (8 - 1))) / 8
  );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  column-gap: 11px;
}

@media (min-width: 768px) {
  .background-width--inset .wrapper {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .wrapper {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11px);
    --cell-max-width: calc(
      (var(--sqs-site-max-width, 1500px) - (11px * (24 - 1))) / 24
    );
    --inset-padding: 0vw;
    --container-width: min(
      var(--sqs-site-max-width, 1500px),
      calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding))
    );

    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}

.copy {
  grid-area: 2/2/30/10;
  z-index: 0;

  @media (max-width: 767px) {
  }
}

.copy .sqs-block {
  justify-content: flex-start;
}

.copy .sqs-block-alignment-wrapper {
  align-items: flex-start;
}

@media (min-width: 768px) {
  .copy {
    grid-area: 4/7/20/26;
    z-index: 0;
  }

  .copy .sqs-block {
    justify-content: flex-start;
  }

  .copy .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }
}
