@import '../../styles/vars.scss';

.wrap {
  // margin-bottom: 2rem;
}

.copy {
  margin-bottom: 2rem;
}

.row {
  align-items: flex-end;
}

.col {
  min-width: 1px;
}

.mediaWrap {
  margin-bottom: 2rem;
}

.button {
  width: 100%;
  max-width: 100%;
  padding: 0;
  border: none;
  appearance: none;

  & > * {
    pointer-events: none;
  }
}
