/* 
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px; 
*/

:root {
  --gutter: 30px;
  --max-copy-width: 32rem;
}

@media all and (max-width: 768px) {
  :root {
    --gutter: 16px;
  }
}
