/* 
576px: 576px;
768px: 768px;
992px: 992px;
1200px: 1200px; 
*/

:root {
  --gutter: 30px;
  --max-copy-width: 32rem;
}

@media all and (max-width: 768px) {
  :root {
    --gutter: 16px;
  }
}

.screen-reader {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px;
  width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}
