@import '~modern-normalize/modern-normalize.css';

@import './typography.css';


.app {
  width: 100%;
  height: 100vh;
  font:
    16px/1.4375em 'Karla',
    sans-serif;
  word-break: break-word;
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures;
}

a {
  position: relative;
  color: var(--color-dark);
  transition: color 0.2s;
  text-decoration: underline;
}

a:hover {
  color: var(--color-primary-fallback);
  color: var(--color-primary);
  text-decoration: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  max-width: 2000px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.sidebar {
  grid-column: 1 / span 12;
}

.content {
  grid-column: 1 / span 12;
}

.container-fluid,
.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 576px) {
  .sidebar {
    grid-column: 1 / span 3;
  }

  .content {
    grid-column: 4 / span 9;
  }
}

@media (min-width: 768px) {
  .container-fluid,
.container {
  padding-left: 32px;
  padding-right: 32px;
}}

@media (min-width: 992px) {
  .container-fluid,
.container {
  padding-left: 72px;
  padding-right: 72px;}
}