@mixin clearfix() {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

@mixin zoomImage() {
  transform: scale(1);
  transition: transform 0.5s ease-out;
}

@mixin zoomImageHover() {
  transform: scale(1.03);
}

@mixin screenReader {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px;
  width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}
